.container {
    /* display */
    display: flex;
    align-items: center;
    gap: var(--base-spacer);

    button {
        /* typography */
        font-weight: var(--semibold);

        &:hover {
            /* background */
            cursor: pointer;
        }
    }

    .sign_up {
        /* box model */
        box-shadow: var(--shadow-sm);
        border-color: var(--primary-color);
        border-radius: var(--rounded-sm);
        padding: var(--xs-spacer) var(--sm-spacer);

        /* background */
        background-color: var(--primary-color);

        /* typography */
        color: var(--text-light);
    }
}
