.container {
    /* display and visibility */
    display: flex;

    /* position and layout */
    align-items: center;
    gap: var(--xs-spacer);

    h2 {
        font-family: var(--font-assistant);
    }
}
