.container {
    /* display and visibility */
    display: flex;

    /* position and layout */
    align-items: center;
    gap: var(--base-spacer);

    .button {
        /* box model */
        box-shadow: var(--shadow-sm);
        border-radius: var(--rounded-sm);
        padding: var(--xs-spacer) var(--sm-spacer);

        /* typography */
        font-weight: var(--semibold);
    }

    .get_started {
        /* background */
        background-color: var(--primary-color);

        /* typography */
        color: var(--text-light);
    }

    .learn_more {
        /* box model */
        border: 1px solid var(--primary-color);

        /* background */
        background-color: var(--white-bg);

        /* typography */
        color: var(--primary-color);
    }
}
