:root {
    /* themes */
    --primary-color: #f43f5e;

    /* background */
    --stone-bg: #f5f5f4;

    /* typography */
    --text-dark: #262626;
    --text-light: #ffffff;
    --text-grey-light: #a1a1a1;
    --text-grey: #71717a;
}
