:root {
    /* font weight */
    --med-bold: 500;
    --semibold: 600;
    --bold: 700;

    /* text color */
    --text-light: #ffffff;
    --text-dark: #262626;
    --text-grey-light: #a1a1a1;
    --text-grey: #71717a;
}
