@use "media";

.container {
    /* display and visibility */
    display: flex;

    /* position and layout */
    gap: var(--base-spacer);

    /* typography */
    font-weight: var(--semibold);

    .active_slug {
        /* box model */
        border-bottom: var(--border-underline) solid var(--primary-color);

        /* typography */
        font-weight: var(--bold);
    }

    .link {
        /* typography */
        text-decoration: none;
    }

    @include media.tablet {
        /* display and visibility */
        display: none;
    }
}
